#Board {
    --color1: blue;
    --color2: yellow;
    width: 50em;
    margin: auto;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    >* {
        display: grid;
        grid-template-rows: repeat(8, 1fr);

        >* {
            padding-bottom: 100%;
            background-color: var(--color1);
            background-size: contain;

            &:nth-child(2n) {
                background-color: var(--color2);
            }
        }

        &:nth-child(2n) {
            >* {
                background-color: var(--color2);
            &:nth-child(2n) {
                background-color: var(--color1);
            }
            }
        }
    }
}