#modal {
    font-family: robotoslab;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000059;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .2s;

    .content {
        transition: .2s;
        transform: scale(.8);
    }


    &.active {
        opacity: 100;
        visibility: visible;
        .content {
            transform: scale(1);
        }
    }
}