#modal {
    font-family: robotoslab;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000059;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        background-color: #FFFFFF;
        color: #4b4847;
        width: 22em;
        box-sizing: border-box;
        padding: 1.5em;
        padding-top: 0;
        border-radius: 2em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            text-align: center;
        }

        label {
            display: flex;
            justify-content: space-between;
            margin-bottom: .2em;
            cursor: pointer;

            input {
                outline: none;
            }



        }

        .white_black {
            display: flex;
            justify-content: center;
            gap: 2em;

            .whiteIcon,
            .blackIcon {
                cursor: pointer;
                transition: .2s;

                &::before {
                    content: "\e904";
                    font-family: chess;
                    border: 1px solid black;
                    font-size: 2.1em;
                    width: 1.4em;
                    height: 1.4em;
                    display: flex;
                    align-items: center;
                    border-radius: 0.2em;
                    justify-content: center;
                }

                &.blackIcon::before {
                    color: white;
                    background-color: black;
                }

                &:hover {
                    filter: drop-shadow(1px 1px 3px #0009);
                }

                &.active {
                    &::before {
                        border-color: #56965d;
                        border-width: .1em;
                    }
                }
            }
        }

        button {
            cursor: pointer;
            color: white;
            font-weight: bold;
            background: #56965d;
            border: none;
            border-radius: 0.3em;
            padding: 0.3em 3em;
            font-size: 1.4em;
            width: max-content;
            margin: auto;
            margin-bottom: 0;
            margin-top: 2em;

        }
    }
}