#theEnd {
    background-color: white;
    padding: 1em;
    border-radius: .4em;
    display: flex;
    flex-direction: column;
    padding-top: 2em;

    span {
        display: block;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
    }

}